<mat-card class="city-form-card">
  <h2>{{"EDIT.TITLE" | translate}} {{student?.studentNumber}} - {{student?.firstName}} {{student?.lastName}}</h2>

  <form (ngSubmit)="updateStudent()" [formGroup]="form">

    <label>{{"EDIT.DOB" | translate}}*</label>
    <input type="date" formControlName="dob" required>
    @if(form.get('dobValidator')!.getError('min'))
    {
      <small>Date must be larger than 1900-01-01</small>
    }
    @if(form.get('dobValidator')!.getError('max'))
    {
      <small>Date must be smaller than 2020-01-01</small>
    }

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{"EDIT.PHONE" | translate}}</mat-label>
      <input formControlName="phone" matInput required/>
      <mat-error *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
        <!-- Dinamičko prikazivanje grešaka -->
        <ng-container *ngIf="form.get('phone')?.errors as errors">
          <small *ngIf="errors['required']">Phone is required.</small>
          <small *ngIf="errors['minlength']">
            Minimum {{ errors['minlength'].requiredLength }} characters required.
          </small>
          <small *ngIf="errors['maxlength']">
            Maximum {{ errors['maxlength'].requiredLength }} characters allowed.
          </small>
          <small *ngIf="errors['pattern']">
            Phone must be in 06x-xxx-xxx format
          </small>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{"EDIT.COUNTRY" | translate}}</mat-label>
      <mat-select formControlName="countryId" required>
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('countryId')?.invalid && form.get('countryId')?.touched">
        <ng-container *ngIf="form.get('countryId')?.errors as errors">
          <small *ngIf="errors['required']">Country is required.</small>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <!-- Region Dropdown -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{"EDIT.MUNICIPALITY" | translate}}</mat-label>
      <mat-select formControlName="municipalityId" required>
        <mat-option *ngFor="let m of municipalities" [value]="m.id">
          {{ m.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('municipalityId')?.touched && form.get('municipalityId')?.errors">
        <span *ngIf="form.get('municipalityId')?.errors?.['required']">Region is required.</span>
      </mat-error>
    </mat-form-field>

    <div class="form-buttons">
      <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">
        {{"EDIT.SAVE" | translate}}
      </button>
      <button color="warn" mat-raised-button routerLink="/admin/students" type="button">
        {{"EDIT.CANCEL" | translate}}
      </button>
    </div>
  </form>
</mat-card>
